/* override bootstrap navbar colors */
.navbar,
.navbar-default {
   background-image: linear-gradient(336deg, rgba(255, 0, 0, 0.836), rgb(255, 255, 255) 50%); /* override background image gradient w/ flat color */ 
   margin-bottom: 5%;
}

.navbar .nav-link {
   color:rgb(105, 105, 105); 
   font-weight: normal; 
}

.navbar .nav-link:hover {
   color:rgb(0, 0, 0);
   font-weight: bold;  
}

.navbar .text {
   color:blue
}

.card-list {
   margin: 0 3% 0 3%;
}

.card {
   margin-top: 3%;
}

