@tailwind base;
@tailwind components;
@tailwind utilities;

/* override bootstrap navbar colors */
.navbar,
.navbar-default {
   margin-bottom: 3%;
}

.navbar .nav-link {
   color:rgb(105, 105, 105); 
   font-weight: normal; 
}

.navbar .nav-link:hover {
   color:rgb(0, 0, 0);
   font-weight: bold;  
}

.navbar .text {
   color:blue
}

.card-list {
   margin: 0 3% 0 3%;
}

.card {
   margin-top: 3%;
}

.actionTableCell {
   display: flex;
   align-items: center;
   text-align: center;
}

.viewEquipmentButton {
   flex-shrink: 0;
}
.deleteEquipmentButton {
   flex-grow: 0.5;
}

.form-label {
   font-weight: bold;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
